@model IEnumerable<OnlineShop.Entity.Models.Product>

<div class="row">
    <div class="col-12">
        <h3>Products</h3>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Short Description</th>
                    @*
                    <th>Long Description</th>*@
                    <th>Cost</th>
                    <th>InStock</th>
                    <th>CategoryId</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                <tr>
                    <td>@product.ProductId</td>
                    <td>@product.ProductName</td>
                    <td>@product.ShortDescription</td>
                    @*<td>@product.LongDescription</td>*@
                    <td>@product.Cost</td>
                    <td>@product.InStock</td>
                    <td>@product.CategoryId</td>
                    <td><a asp-controller="Product" asp-action="Edit" asp-route-ProductId="@product.ProductId">Edit</a></td>
                    <td><a asp-controller="Product" asp-action="Delete" asp-route-ProductId="@product.ProductId">Delete</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
