@model IEnumerable<OnlineShop.Entity.Models.Product>
@*@model OnlineShop.Entity.Models.Product*@

<div class="row">
    @foreach (var item in Model)
    {
        string imageBase64Data = Convert.ToBase64String(item.ImgPoster);
        string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.ProductName
                                    <a class="text-white float-right"><i class="bi bi-pencil-square"></i></a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@imageDataURL" width="100%" height="200" alt="@item.ProductName">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p></p>
                            @*<p class="card-text">Description Sample</p>*@
                            <p class="card-text"><b>Description: </b>@item.ShortDescription</p>
                            @*<p class="card-text"><b>: </b>@item.CategoryId</p>*@
                            <p class="card-text"><b>Cost: </b>@item.Cost</p>
                            <p class="card-text ">
                            </p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.ProductId">
                                    <i class="bi bi-eye-fill"></i> Show Details
                                </a>
                                <a class="btn btn-success text-white"> <i class="bi bi-cart-plus"></i> Add to Cart($X.XX)</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>}
</div>

@*@await Html.PartialAsync("_CreateItem", "Product")*@